<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZX3MryJIgbOwoLsYultF5_TpW99v3Hg0</string>
	<key>GCM_SENDER_ID</key>
	<string>1095992659257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mylastapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>stable-reactor-386614</string>
	<key>STORAGE_BUCKET</key>
	<string>stable-reactor-386614.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095992659257:ios:0fe36e1b18ea08a1d52ce8</string>
</dict>
</plist>